# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  generate_pluginmaster:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: read

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
        - uses: actions/checkout@v4
        - uses: actions/checkout@v4
          with:
            repository: NightmareXIV/NightmareXIVRepoMetadataBuilder
            path: builder
        - uses: actions/setup-dotnet@v3
          with:
            dotnet-version: 8.0.x
        - run: dotnet run --project builder/NightmareXIVRepoMetadataBuilder/NightmareXIVRepoMetadataBuilder.csproj
          env: 
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - run: |
            git add README.md
            git commit -m "Update Readme.md" -a || echo "No changes to commit"
            git push
