# This is a basic workflow that is manually triggered

name: Update pluginmaster

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  generate_pluginmaster:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
        - name: Checkout Repository
          uses: actions/checkout@v4
          with:
            submodules: true
            environment: NightmareXIVRepoUpdater
        - name: Set up .NET
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: 7.0.x
        - name: Run the program
          run: dotnet run --project NightmareXIVRepoUpdater/NightmareXIVRepoUpdater/NightmareXIVRepoUpdater.csproj
